{% load static %}

<!-- ======= Footer ======= -->
<footer class="footer">
    <div class="site-section">
        <div class="container">

            <div class="row">

                <div class="col-sm">
                    <a href="#" class="footer-logo">
                        <img src="{% static 'img/logotip.png' %}" alt="">
                    </a>
                    <p class="copyright">
                        <small>&copy; 2021</small>
                    </p>
                </div>
                <div class="col-sm">
                    <h3>Каталог</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Обои</a></li>
                        <li><a href="#">Люстры</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>О Нас</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Адрес</a></li>
                        <li><a href="#">Вопросы</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h3>Информация</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Следите за нами:</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span><i class="bx bxl-facebook"></i></span></a></li>
                        <li><a href="#"><span><i class="bx bxl-twitter"></i></span></a></li>
                        <li><a href="#"><span><i class="bx bxl-instagram"></i></span></a></li>
                        <li><a href="#"><span><i class="bx bxl-telegram"></i></span></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>